# Import Packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import scipy.stats # For finding skew in the dataset

import warnings
warnings.filterwarnings('ignore')

# Read in Data

In [2]:
# Set working directory
%cd C:/Users/sriha/OneDrive/Desktop/DS/My work/life-expectancy

# Unpickle preprocessed training data
X_train = pd.read_pickle('Data/X_train_clean.pkl')

# Unpickle train target variable
y_train = pd.read_pickle('Data/y_train.pkl')

# Unpickle preprocessed test data
X_test = pd.read_pickle('Data/X_test_clean.pkl')

# Unpickle train target variable
y_test = pd.read_pickle('Data/y_test.pkl')

# Combine X and y for visualization and to determine correlations
df_train = X_train.join(y_train)

df_test = X_test.join(y_test)

C:\Users\sriha\OneDrive\Desktop\DS\My work\life-expectancy

In [3]:
df_train

,Country,Year,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,under-five deaths,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Life expectancy
2323,Singapore,2005,Developed,69.0,9.0,1.49,2356.731479,96.0,33,10.0,...,3.74,96.0,0.1,29869.853980,1340952.0,2.1,2.0,0.821,12.6,82.0
915,Finland,2014,Developing,78.0,7.0,8.80,6164.455402,93.0,0,8.5,...,9.68,98.0,0.1,49914.618640,5461512.0,0.9,0.8,0.890,17.0,89.0
2910,Zambia,2011,Developing,366.0,29.0,2.57,183.046169,81.0,13234,44.0,...,4.26,81.0,6.3,1644.619672,14264756.0,6.6,6.4,0.543,12.0,58.2
1764,Mozambique,2015,Developing,355.0,60.0,1.19,0.000000,8.0,79,81.0,...,5.91,8.0,3.9,528.312560,281691.0,3.6,3.5,0.414,9.1,57.6
2365,Solomon Islands,2011,Developing,186.0,8.0,0.99,229.668749,99.0,0,9.5,...,5.80,99.0,0.1,1642.837974,539614.0,1.2,1.2,0.497,9.4,68.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2711,Turkmenistan,2001,Developing,221.0,7.0,2.35,106.180706,97.0,9,9.0,...,3.87,95.0,0.1,774.476339,45648.0,3.6,3.5,0.000,10.2,64.0
542,Chad,2001,Developing,4.0,42.0,0.30,26.874391,35.0,24908,75.0,...,6.90,26.0,4.8,197.315644,866312.0,11.3,11.2,0.300,4.9,48.0
1019,Ghana,2006,Developing,288.0,41.0,1.70,129.026336,84.0,420,62.0,...,4.64,84.0,2.9,922.935168,22113425.0,7.9,7.9,0.510,8.7,59.4
43,Algeria,2004,Developing,14.0,19.0,0.45,220.393699,81.0,3289,23.0,...,3.54,86.0,0.1,2598.982300,3283196.0,6.2,6.1,0.673,11.7,72.3
2550,Syrian Arab Republic,2002,Developing,135.0,9.0,1.25,91.703568,8.0,538,11.0,...,4.94,84.0,0.1,1263.134550,178791.0,6.6,6.5,0.596,10.2,72.8

In [4]:
df_test

,Country,Year,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,under-five deaths,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Life expectancy
311,Bolivia (Plurinational State of),2008,Developing,211.0,10.0,3.77,0.000000,88.0,0,13.0,...,5.00,88.0,0.2,1788.274085,1693549.5,1.3,1.1,0.632,14.0,67.4
1382,Kiribati,2011,Developing,26.0,8.0,0.53,30.467039,95.0,0,9.5,...,1.42,99.0,0.1,1692.613277,14656.0,0.1,0.1,0.585,11.9,65.5
1290,Italy,2007,Developed,63.0,2.0,8.37,5228.821581,97.0,321,2.0,...,8.48,97.0,0.1,37698.785730,5843831.0,0.5,0.5,0.862,16.1,81.3
2501,Swaziland,2003,Developing,6.0,3.0,5.65,2.819124,9.0,350,4.0,...,5.71,85.0,50.6,22.994490,187392.0,8.2,8.4,0.493,9.1,45.9
1585,Malawi,2000,Developing,588.0,51.0,1.18,13.762702,91.0,304,84.0,...,6.70,75.0,25.5,153.259487,11376172.0,8.0,7.9,0.391,10.7,43.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1390,Kiribati,2003,Developing,215.0,9.0,0.50,1.765413,73.0,0,10.0,...,9.98,7.0,0.1,115.386500,88895.0,0.2,0.2,0.000,11.6,64.7
1866,Nicaragua,2010,Developing,154.0,3.0,3.38,302.704541,98.0,0,3.0,...,6.58,98.0,0.1,1526.497938,5737723.0,1.9,1.8,0.614,11.4,73.2
405,Burkina Faso,2010,Developing,279.0,43.0,4.55,90.460182,91.0,2511,74.0,...,7.17,91.0,1.0,575.446453,1565217.0,9.0,8.6,0.365,6.3,57.5
1064,Guatemala,2009,Developing,198.0,12.0,2.14,445.442337,92.0,0,15.0,...,6.79,92.0,0.4,2635.753474,1431628.0,1.3,1.3,0.596,10.4,76.0
1789,Myanmar,2006,Developing,22.0,61.0,0.28,4.632776,75.0,760,83.0,...,1.78,82.0,0.6,296.972840,48846474.0,13.2,13.5,0.474,8.0,64.2

# Understanding the Features

In [5]:
corr1 = df_train.corr()['Life expectancy '].sort_values(ascending=False)
corr1

Life expectancy                    1.000000
Schooling                          0.726203
Income composition of resources    0.693371
Diphtheria                         0.495370
Polio                              0.483314
GDP                                0.433644
Alcohol                            0.402247
percentage expenditure             0.379875
Hepatitis B                        0.304185
Total expenditure                  0.228515
Year                               0.172411
Population                        -0.036510
Measles                           -0.158633
infant deaths                     -0.194815
under-five deaths                 -0.222279
 thinness 5-9 years               -0.468822
 thinness  1-19 years             -0.475010
 HIV/AIDS                         -0.555904
Adult Mortality                   -0.688635
Name: Life expectancy , dtype: float64

# Feature Engineering

### 1. Transformation
    
- EDA revealed that many features were skewed (i.e. not normally distributed). Here we will use scipy.stats to figure out which features are skewed and apply a log transform to reduce the skew. There are other methods to deal with skew, but we will stick to this simple method for now. 

- Applying the log transform did help reduce the skew, which is likely to improve performance. 

- Of note, based on our criteria, the target variable was not transformed, so we will not have to apply an inverse log pprior to making predictions.
    
    
    
### 2. Encoding

- We have one categorical feature ('Status') which we will encode

### 3. Feature selection

- EDA reveled that some features were strongly correlated to each other. We may later choose to drop these features to improve performance. For now we will leave them in.

In [6]:
def find_skew(dataset, show=True, col_names=False):
  df_skew = pd.DataFrame(dataset.select_dtypes(np.number).columns, columns=['Feature'])
  df_skew['Skew'] = df_skew['Feature'].apply(lambda feature: scipy.stats.skew(dataset[feature]))
  df_skew['Absolute Skew'] = df_skew['Skew'].apply(abs)
  df_skew['Skewed'] = df_skew['Absolute Skew'].apply(lambda x: True if x >= 0.65 else False)

  if show:
    from IPython.display import display
    display(df_skew)

  if col_names:
    return df_skew[df_skew['Absolute Skew'] >= 0.65]['Feature'].values

find_skew(df_train)

                            Feature       Skew  Absolute Skew  Skewed
0                              Year   0.004688       0.004688   False
1                   Adult Mortality   1.171555       1.171555    True
2                     infant deaths   9.331681       9.331681    True
3                           Alcohol   0.565675       0.565675   False
4            percentage expenditure   4.731200       4.731200    True
5                       Hepatitis B  -1.819084       1.819084    True
6                          Measles    9.149229       9.149229    True
7                under-five deaths    9.013454       9.013454    True
8                             Polio  -2.039370       2.039370    True
9                 Total expenditure   0.630974       0.630974   False
10                      Diphtheria   -2.008727       2.008727    True
11                         HIV/AIDS   5.402370       5.402370    True
12                              GDP   3.446715       3.446715    True
13                       Population  18.350476      18.350476    True
14             thinness  1-19 years   1.730750       1.730750    True
15               thinness 5-9 years   1.800141       1.800141    True
16  Income composition of resources  -1.205187       1.205187    True
17                        Schooling  -0.595071       0.595071   False
18                 Life expectancy   -0.627739       0.627739   False

In [7]:
df = df_train.copy()
skewed_cols = find_skew(df, show=False, col_names=True)

for col in skewed_cols:
  df[col] = np.log1p(df[col])

find_skew(df)

                            Feature      Skew  Absolute Skew  Skewed
0                              Year  0.004688       0.004688   False
1                   Adult Mortality -1.194420       1.194420    True
2                     infant deaths  0.891640       0.891640    True
3                           Alcohol  0.565675       0.565675   False
4            percentage expenditure -0.070362       0.070362   False
5                       Hepatitis B -2.951422       2.951422    True
6                          Measles   0.556823       0.556823   False
7                under-five deaths   0.797917       0.797917    True
8                             Polio -3.181296       3.181296    True
9                 Total expenditure  0.630974       0.630974   False
10                      Diphtheria  -3.134860       3.134860    True
11                         HIV/AIDS  2.093283       2.093283    True
12                              GDP -0.178111       0.178111   False
13                       Population -0.700638       0.700638    True
14             thinness  1-19 years  0.150753       0.150753   False
15               thinness 5-9 years  0.121977       0.121977   False
16  Income composition of resources -1.711647       1.711647    True
17                        Schooling -0.595071       0.595071   False
18                 Life expectancy  -0.627739       0.627739   False

In [8]:
del df

# Create EngineerFeatures Object

In [9]:
class EngineerFeatures():

    def __init__(self):
        pass

    def fit(self, X, y=None):
        return self

    def transform(self, X, y=None): 
        X_new = X.copy()

        # Drop uncorrelated or unimportant features
        cols_to_drop = [
            'Country', # This column cannot be encoded and doesn't carry any useful information
            'Population' # Very weak correaltion to target variable
            
        ]
        X_new = X_new.drop(cols_to_drop, axis=1)

        # Feature transformations for numeric features
        # Note that skewed columns will have to be entered manually here 
        skewed_cols = [
            'Adult Mortality',
            'infant deaths', 
            'percentage expenditure', 
            'Hepatitis B',
            'Measles ', 
            'under-five deaths ',
            'Polio',
            'Diphtheria ', 
            ' HIV/AIDS', 
            'GDP',
            ' thinness  1-19 years', 
            ' thinness 5-9 years',
            'Income composition of resources'
        ]

        for col in skewed_cols:
            X_new[col] = np.log1p(X_new[col])

        # Feature encoding
        cols_to_encode = [
            'Status'
        ]
        
        X_new = pd.get_dummies(X_new, columns=cols_to_encode, drop_first=True)

        return X_new

    def fit_transform(self, X, y=None):
        return self.fit(X).transform(X)

In [10]:
engg = EngineerFeatures()

df_train_engineered = engg.fit_transform(df_train)
df_test_engineered = engg.transform(df_test)

In [11]:
# Note that the targeet variable is unchanged, so we can proceed with saving just the features
X_train_engineered = df_train_engineered.drop('Life expectancy ', axis=1)
X_test_engineered = df_test_engineered.drop('Life expectancy ', axis=1)

In [12]:
X_train_engineered.head()

,Year,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Status_Developing
2323,2005,4.248495,2.302585,1.49,7.765455,4.574711,3.526361,2.397895,4.574711,3.74,4.574711,0.095310,10.304639,1.131402,1.098612,0.599386,12.6,0
915,2014,4.369448,2.079442,8.80,8.726717,4.543295,0.000000,2.251292,4.595120,9.68,4.595120,0.095310,10.818089,0.641854,0.587787,0.636577,17.0,1
2910,2011,5.905362,3.401197,2.57,5.215187,4.406719,9.490620,3.806662,4.430817,4.26,4.406719,1.987874,7.405872,2.028148,2.001480,0.433729,12.0,1
1764,2015,5.874931,4.110874,1.19,0.000000,2.197225,4.382027,4.406719,2.197225,5.91,2.197225,1.589235,6.271579,1.526056,1.504077,0.346423,9.1,1
2365,2011,5.231109,2.197225,0.99,5.440983,4.605170,0.000000,2.351375,4.605170,5.80,4.605170,0.095310,7.404789,0.788457,0.788457,0.403463,9.4,1

In [13]:
X_test_engineered.head()

,Year,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Status_Developing
311,2008,5.356586,2.397895,3.77,0.000000,4.488636,0.000000,2.639057,4.477337,5.00,4.488636,0.182322,7.489565,0.832909,0.741937,0.489806,14.0,1
1382,2011,3.295837,2.197225,0.53,3.448941,4.564348,0.000000,2.351375,4.564348,1.42,4.605170,0.095310,7.434620,0.095310,0.095310,0.460584,11.9,1
1290,2007,4.158883,1.098612,8.37,8.562132,4.584967,5.774552,1.098612,4.584967,8.48,4.584967,0.095310,10.537410,0.405465,0.405465,0.621651,16.1,0
2501,2003,1.945910,1.386294,5.65,1.340021,2.302585,5.860786,1.609438,4.477337,5.71,4.454347,3.943522,3.177824,2.219203,2.240710,0.400788,9.1,1
1585,2000,6.378426,3.951244,1.18,2.692104,4.521789,5.720312,4.442651,4.304065,6.70,4.330733,3.277145,5.038636,2.197225,2.186051,0.330023,10.7,1

# Save Engineered Data

In [14]:
# pickle engineered train data
X_train_engineered.to_pickle('Data/X_train_engineered.pkl')

# pickle engineered test data
X_test_engineered.to_pickle('Data/X_test_engineered.pkl')