# Import Packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import scipy.stats # For finding skew in the dataset

import warnings
warnings.filterwarnings('ignore')

# Read in Data

In [2]:
# Set working directory
%cd C:/Users/sriha/OneDrive/Desktop/DS/My work/life-expectancy

# Unpickle preprocessed training data
X_train = pd.read_pickle('Data/X_train_clean.pkl')

# Unpickle train target variable
y_train = pd.read_pickle('Data/y_train.pkl')

# Unpickle preprocessed test data
X_test = pd.read_pickle('Data/X_test_clean.pkl')

# Unpickle train target variable
y_test = pd.read_pickle('Data/y_test.pkl')

# Combine X and y for visualization and to determine correlations
df_train = X_train.join(y_train)

df_test = X_test.join(y_test)

C:\Users\sriha\OneDrive\Desktop\DS\My work\life-expectancy

In [3]:
df_train

,Country,Year,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,under-five deaths,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Life expectancy
264,Belize,2007,Developing,181.0,8.5,7.24,69.630510,96.00,0,10.0,...,4.76,96.0,0.6,4324.876427,29847.0,3.5,3.5,0.700,12.8,69.6
2203,Samoa,2012,Developing,136.0,7.5,0.01,492.055226,64.00,1,9.0,...,5.20,64.0,0.1,4234.554443,189194.0,0.2,0.1,0.698,12.9,73.2
580,Colombia,2011,Developing,144.0,12.0,4.37,184.307362,85.00,6,14.0,...,6.64,85.0,0.1,7227.739680,4646646.0,2.2,2.0,0.700,13.0,74.2
220,Barbados,2003,Developing,121.0,9.0,7.65,13.513992,91.00,0,10.0,...,5.82,89.0,0.4,1228.544700,1458821.0,4.1,4.1,0.753,14.2,73.7
2730,Ukraine,2015,Developing,195.0,4.0,8.06,0.000000,22.00,105,5.0,...,6.63,23.0,0.2,2124.662666,4515429.0,2.3,2.4,0.748,15.3,71.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2680,Tunisia,2000,Developing,112.0,4.0,1.21,264.784220,94.00,47,5.0,...,5.40,97.0,0.1,2213.914880,9699197.0,6.6,6.5,0.646,12.8,72.9
1922,Norway,2003,Developed,78.0,9.0,6.04,880.738062,85.75,8,10.0,...,9.85,92.0,0.1,5111.654450,4564855.0,0.8,0.7,0.918,17.1,79.4
2907,Zambia,2014,Developing,314.0,28.0,0.01,196.667577,86.00,9,41.0,...,4.99,86.0,4.3,1738.882200,1562974.0,6.3,6.2,0.570,12.5,61.1
2274,Serbia,2006,Developing,133.0,1.0,8.58,541.824347,93.00,2,1.0,...,8.99,92.0,0.1,4129.758741,7411569.0,2.5,2.5,0.739,13.4,73.6
2299,Sierra Leone,2013,Developing,47.0,23.0,0.01,1.321464,92.00,15,33.0,...,11.59,92.0,0.8,71.818700,692279.0,7.7,7.6,0.413,9.3,54.0

In [4]:
df_test

,Country,Year,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,under-five deaths,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Life expectancy
1697,Mexico,2001,Developing,126.0,52.0,4.86,13.311095,97.0,3,62.0,...,5.35,97.0,0.1,731.378864,136768.0,1.9,1.9,0.700,11.6,75.0
817,Egypt,2000,Developing,171.0,65.0,0.14,0.000000,98.0,2633,82.0,...,5.55,98.0,0.1,1164.092895,1265314.5,3.6,3.5,0.606,11.0,68.8
1088,Guinea,2001,Developing,336.0,36.0,0.17,19.897909,57.0,7408,58.0,...,3.65,5.0,3.0,315.839830,8971139.0,1.1,1.1,0.322,5.1,52.5
2515,Sweden,2005,Developed,66.0,9.0,6.50,599.039240,67.0,13,10.0,...,9.60,98.0,0.1,4385.353150,929572.0,1.3,1.3,0.890,16.0,85.0
2458,Sudan,2014,Developing,229.0,59.0,0.01,253.608651,94.0,676,86.0,...,8.43,94.0,0.3,2176.898290,37737913.0,3.3,3.4,0.485,7.2,63.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1311,Jamaica,2002,Developing,167.0,1.0,3.76,211.114332,92.0,0,1.0,...,4.86,99.0,2.3,3596.496282,2695446.0,2.0,1.8,0.690,11.7,73.0
2750,United Arab Emirates,2011,Developing,81.0,1.0,1.73,387.774991,95.0,0,1.0,...,3.70,95.0,0.1,4462.312900,1327439.0,5.1,4.9,0.824,13.3,76.3
1068,Guatemala,2005,Developing,28.0,14.0,2.35,41.508456,87.0,0,18.0,...,6.79,87.0,0.4,277.834380,139628.0,1.4,1.4,0.567,9.6,69.2
2223,Sao Tome and Principe,2009,Developing,21.0,9.0,4.13,11.136087,98.0,0,10.0,...,6.65,98.0,0.9,199.571460,17813.0,6.3,6.2,0.533,10.1,65.8
2743,Ukraine,2002,Developing,256.0,6.0,4.89,115.738974,48.0,7587,7.0,...,6.25,99.0,0.9,879.475486,48225.0,2.9,3.0,0.683,13.9,67.6

# Understanding the Features

In [5]:
corr1 = df_train.corr()['Life expectancy '].sort_values(ascending=False)
corr1

Life expectancy                    1.000000
Schooling                          0.720834
Income composition of resources    0.683896
Diphtheria                         0.504674
Polio                              0.488856
GDP                                0.432618
Alcohol                            0.399637
percentage expenditure             0.379678
Hepatitis B                        0.316855
Total expenditure                  0.238088
Year                               0.178046
Population                        -0.035013
Measles                           -0.140197
infant deaths                     -0.183496
under-five deaths                 -0.210626
 thinness 5-9 years               -0.462743
 thinness  1-19 years             -0.474142
 HIV/AIDS                         -0.552602
Adult Mortality                   -0.719051
Name: Life expectancy , dtype: float64

# Feature Engineering

### 1. Transformation
    
- EDA revealed that many features were skewed (i.e. not normally distributed). Here we will use scipy.stats to figure out which features are skewed and apply a log transform to reduce the skew. There are other methods to deal with skew, but we will stick to this simple method for now. 

- Applying the log transform did help reduce the skew, which is likely to improve performance. 

- Of note, based on our criteria, the target variable was not transformed, so we will not have to apply an inverse log pprior to making predictions.
    
    
    
### 2. Encoding

- We have one categorical feature ('Status') which we will encode

### 3. Feature selection

- EDA reveled that some features were strongly correlated to each other. We may later choose to drop these features to improve performance. For now we will leave them in.

In [6]:
def find_skew(dataset, show=True, col_names=False):
  df_skew = pd.DataFrame(dataset.select_dtypes(np.number).columns, columns=['Feature'])
  df_skew['Skew'] = df_skew['Feature'].apply(lambda feature: scipy.stats.skew(dataset[feature]))
  df_skew['Absolute Skew'] = df_skew['Skew'].apply(abs)
  df_skew['Skewed'] = df_skew['Absolute Skew'].apply(lambda x: True if x >= 0.65 else False)

  if show:
    from IPython.display import display
    display(df_skew)

  if col_names:
    return df_skew[df_skew['Absolute Skew'] >= 0.65]['Feature'].values

find_skew(df_train)

                            Feature       Skew  Absolute Skew  Skewed
0                              Year  -0.019205       0.019205   False
1                   Adult Mortality   1.143116       1.143116    True
2                     infant deaths   9.745212       9.745212    True
3                           Alcohol   0.589016       0.589016   False
4            percentage expenditure   4.673240       4.673240    True
5                       Hepatitis B  -1.793610       1.793610    True
6                          Measles    9.414194       9.414194    True
7                under-five deaths    9.474187       9.474187    True
8                             Polio  -2.070989       2.070989    True
9                 Total expenditure   0.648805       0.648805   False
10                      Diphtheria   -2.076191       2.076191    True
11                         HIV/AIDS   5.738086       5.738086    True
12                              GDP   3.492992       3.492992    True
13                       Population  17.766807      17.766807    True
14             thinness  1-19 years   1.756666       1.756666    True
15               thinness 5-9 years   1.848634       1.848634    True
16  Income composition of resources  -1.241748       1.241748    True
17                        Schooling  -0.697945       0.697945    True
18                 Life expectancy   -0.672425       0.672425    True

In [7]:
df = df_train.copy()
skewed_cols = find_skew(df, show=False, col_names=True)

for col in skewed_cols:
  df[col] = np.log1p(df[col])

find_skew(df)

                            Feature      Skew  Absolute Skew  Skewed
0                              Year -0.019205       0.019205   False
1                   Adult Mortality -1.184721       1.184721    True
2                     infant deaths  0.898498       0.898498    True
3                           Alcohol  0.589016       0.589016   False
4            percentage expenditure -0.086928       0.086928   False
5                       Hepatitis B -2.888953       2.888953    True
6                          Measles   0.526092       0.526092   False
7                under-five deaths   0.800894       0.800894    True
8                             Polio -3.221922       3.221922    True
9                 Total expenditure  0.648805       0.648805   False
10                      Diphtheria  -3.247775       3.247775    True
11                         HIV/AIDS  2.137832       2.137832    True
12                              GDP -0.096289       0.096289   False
13                       Population -0.713809       0.713809    True
14             thinness  1-19 years  0.142110       0.142110   False
15               thinness 5-9 years  0.122304       0.122304   False
16  Income composition of resources -1.741843       1.741843    True
17                        Schooling -3.655996       3.655996    True
18                 Life expectancy  -0.979297       0.979297    True

In [8]:
del df

# Create EngineerFeatures Object

In [9]:
class EngineerFeatures():

    def __init__(self):
        pass

    def fit(self, X, y=None):
        return self

    def transform(self, X, y=None): 
        X_new = X.copy()

        # Drop correlated features
        cols_to_drop = [
            
        ]
        X_new = X_new.drop(cols_to_drop, axis=1)

        # Feature transformations for numeric features
        skewed_cols = find_skew(X_new, show=False, col_names=True)

        for col in skewed_cols:
            X_new[col] = np.log1p(X_new[col])

        # Feature encoding
        cols_to_encode = [
            'Status'
        ]
        
        X_new = pd.get_dummies(X_new, columns=cols_to_encode, drop_first=True)

        return X_new

    def fit_transform(self, X, y=None):
        return self.fit(X).transform(X)

In [10]:
engg = EngineerFeatures()

df_train_engineered = engg.fit_transform(df_train)
df_test_engineered = engg.fit_transform(df_test)

In [11]:
# Note that the targeet variable is unchanged, so we can proceed with saving just the features
X_train_engineered = df_train_engineered.drop('Life expectancy ', axis=1)
X_test_engineered = df_test_engineered.drop('Life expectancy ', axis=1)

In [12]:
X_train_engineered.head()

,Country,Year,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Status_Developing
264,Belize,2007,5.204007,2.251292,7.24,4.257462,4.574711,0.000000,2.397895,4.584967,4.76,4.574711,0.470004,8.372370,10.303873,1.504077,1.504077,0.530628,2.624669,1
2203,Samoa,2012,4.919981,2.140066,0.01,6.200621,4.174387,0.693147,2.302585,4.143135,5.20,4.174387,0.095310,8.351270,12.150534,0.182322,0.095310,0.529451,2.631889,1
580,Colombia,2011,4.976734,2.564949,4.37,5.222016,4.454347,1.945910,2.708050,4.454347,6.64,4.454347,0.095310,8.885820,15.351656,1.163151,1.098612,0.530628,2.639057,1
220,Barbados,2003,4.804021,2.302585,7.65,2.675113,4.521789,0.000000,2.397895,2.302585,5.82,4.499810,0.336472,7.114399,14.193140,1.629241,1.629241,0.561329,2.721295,1
2730,Ukraine,2015,5.278115,1.609438,8.06,0.000000,3.135494,4.663439,1.791759,3.951244,6.63,3.178054,0.182322,7.661839,15.323011,1.193922,1.223775,0.558472,2.791165,1

In [13]:
X_test_engineered.head()

,Country,Year,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Status_Developing
1697,Mexico,2001,4.844187,3.970292,4.86,2.661035,4.584967,1.386294,4.143135,4.584967,5.35,4.584967,0.095310,6.596298,11.826049,1.064711,1.064711,0.530628,11.6,1
817,Egypt,2000,5.147494,4.189655,0.14,0.000000,4.595120,7.876259,4.418841,4.595120,5.55,4.595120,0.095310,7.060556,14.050832,1.526056,1.504077,0.473747,11.0,1
1088,Guinea,2001,5.820083,3.610918,0.17,3.039649,4.060443,8.910451,4.077537,3.970292,3.65,1.791759,1.386294,5.758396,16.009523,0.741937,0.741937,0.279146,5.1,1
2515,Sweden,2005,4.204693,2.302585,6.50,6.396995,4.219508,2.639057,2.397895,4.595120,9.60,4.595120,0.095310,8.386253,13.742481,0.832909,0.832909,0.636577,16.0,0
2458,Sudan,2014,5.438079,4.094345,0.01,5.539728,4.553877,6.517671,4.465908,4.553877,8.43,4.553877,0.262364,7.686116,17.446176,1.458615,1.481605,0.395415,7.2,1

# Save Engineered Data

In [14]:
# pickle engineered train data
X_train_engineered.to_pickle('Data/X_train_engineered.pkl')

# pickle engineered test data
X_test_engineered.to_pickle('Data/X_test_engineered.pkl')