# Import Packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import scipy.stats # For finding skew in the dataset

import warnings
warnings.filterwarnings('ignore')

# Read in Data

In [2]:
# Set working directory
%cd C:/Users/sriha/OneDrive/Desktop/DS/My work/life-expectancy

# Unpickle preprocessed training data
X_train = pd.read_pickle('Data/X_train_clean.pkl')

# Unpickle train target variable
y_train = pd.read_pickle('Data/y_train.pkl')

# Unpickle preprocessed test data
X_test = pd.read_pickle('Data/X_test_clean.pkl')

# Unpickle train target variable
y_test = pd.read_pickle('Data/y_test.pkl')

# Combine X and y for visualization and to determine correlations
df_train = X_train.join(y_train)

df_test = X_test.join(y_test)

C:\Users\sriha\OneDrive\Desktop\DS\My work\life-expectancy

In [3]:
df_train

,Country,Year,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,under-five deaths,...,Country_dummy_United States of America,Country_dummy_Uruguay,Country_dummy_Uzbekistan,Country_dummy_Vanuatu,Country_dummy_Venezuela (Bolivarian Republic of),Country_dummy_Viet Nam,Country_dummy_Yemen,Country_dummy_Zambia,Country_dummy_Zimbabwe,Life expectancy
615,Congo,2008,Developing,338.0,8.0,2.58,0.000000,73.0,2,11.0,...,0,0,0,0,0,0,0,0,0,59.4
2909,Zambia,2012,Developing,349.0,29.0,2.59,196.915250,78.0,896,43.0,...,0,0,0,0,0,0,0,1,0,59.2
2812,Uruguay,2013,Developing,117.0,1.0,5.82,482.803945,94.0,0,1.0,...,0,1,0,0,0,0,0,0,0,76.8
1825,Nepal,2003,Developing,22.0,38.0,0.20,2.790965,2.0,13344,50.0,...,0,0,0,0,0,0,0,0,0,64.3
497,Canada,2014,Developing,65.0,2.0,8.10,102.190217,55.0,418,2.0,...,0,0,0,0,0,0,0,0,0,82.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599,Comoros,2008,Developing,255.0,2.0,0.12,93.367890,81.0,0,2.0,...,0,0,0,0,0,0,0,0,0,61.0
1601,Malaysia,2000,Developing,149.0,4.0,0.54,23.371672,97.0,6187,5.0,...,0,0,0,0,0,0,0,0,0,72.4
1363,Kenya,2014,Developing,255.0,56.0,0.01,170.962662,92.0,354,79.0,...,0,0,0,0,0,0,0,0,0,62.9
1549,Luxembourg,2004,Developed,92.0,0.0,12.42,12372.051880,94.0,0,0.0,...,0,0,0,0,0,0,0,0,0,78.7
865,Eritrea,2000,Developing,593.0,7.0,0.83,0.735940,94.0,789,10.0,...,0,0,0,0,0,0,0,0,0,45.3

In [4]:
df_test

,Country,Year,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,under-five deaths,...,Country_dummy_United States of America,Country_dummy_Uruguay,Country_dummy_Uzbekistan,Country_dummy_Vanuatu,Country_dummy_Venezuela (Bolivarian Republic of),Country_dummy_Viet Nam,Country_dummy_Yemen,Country_dummy_Zambia,Country_dummy_Zimbabwe,Life expectancy
1831,Netherlands,2013,Developed,6.0,1.0,8.68,1475.030397,51.0,2632,1.0,...,0,0,0,0,0,0,0,0,0,81.4
893,Ethiopia,2004,Developing,354.0,217.0,0.86,1.506962,70.5,73,342.0,...,0,0,0,0,0,0,0,0,0,55.0
1800,Namibia,2011,Developing,268.0,3.0,7.84,7.896235,82.0,79,4.0,...,0,0,0,0,0,0,0,0,0,64.3
56,Angola,2007,Developing,375.0,87.0,6.35,184.821345,73.0,1014,138.0,...,0,0,0,0,0,0,0,0,0,48.2
2860,Venezuela (Bolivarian Republic of),2013,Developing,159.0,9.0,6.71,0.000000,82.0,0,10.0,...,0,0,0,0,1,0,0,0,0,73.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2704,Turkmenistan,2008,Developing,235.0,6.0,2.40,34.239794,96.0,0,8.0,...,0,0,0,0,0,0,0,0,0,64.5
1945,Pakistan,2012,Developing,165.0,369.0,0.04,59.659001,72.0,8046,456.0,...,0,0,0,0,0,0,0,0,0,65.7
1364,Kenya,2013,Developing,258.0,58.0,1.84,165.930498,93.0,190,81.0,...,0,0,0,0,0,0,0,0,0,62.6
1920,Norway,2005,Developed,73.0,0.0,6.37,11792.534650,92.0,0,0.0,...,0,0,0,0,0,0,0,0,0,81.0
2705,Turkmenistan,2007,Developing,241.0,6.0,2.58,0.358651,98.0,59,8.0,...,0,0,0,0,0,0,0,0,0,64.1

# Understanding the Features

In [5]:
corr1 = df_train.corr()['Life expectancy '].sort_values(ascending=False)
corr1

Life expectancy                    1.000000
Schooling                          0.717465
Income composition of resources    0.686854
Diphtheria                         0.480411
Polio                              0.463695
                                     ...
under-five deaths                 -0.220623
 thinness 5-9 years               -0.460253
 thinness  1-19 years             -0.468309
 HIV/AIDS                         -0.560830
Adult Mortality                   -0.691349
Name: Life expectancy , Length: 202, dtype: float64

# Feature Engineering

### 1. Transformation
    
- EDA revealed that many features were skewed (i.e. not normally distributed). Here we will use scipy.stats to figure out which features are skewed and apply a log transform to reduce the skew. There are other methods to deal with skew, but we will stick to this simple method for now. 

- Applying the log transform did help reduce the skew, which is likely to improve performance. 

- Of note, based on our criteria, the target variable was not transformed, so we will not have to apply an inverse log pprior to making predictions.
    
    
    
### 2. Encoding

- We have one categorical feature ('Status') which we will encode

### 3. Feature selection

- EDA reveled that some features were strongly correlated to each other. We may later choose to drop these features to improve performance. For now we will leave them in.

In [6]:
def find_skew(dataset, show=True, col_names=False):
  df_skew = pd.DataFrame(dataset.select_dtypes(np.number).columns, columns=['Feature'])
  df_skew['Skew'] = df_skew['Feature'].apply(lambda feature: scipy.stats.skew(dataset[feature]))
  df_skew['Absolute Skew'] = df_skew['Skew'].apply(abs)
  df_skew['Skewed'] = df_skew['Absolute Skew'].apply(lambda x: True if x >= 0.65 else False)

  if show:
    from IPython.display import display
    display(df_skew)

  if col_names:
    return df_skew[df_skew['Absolute Skew'] >= 0.65]['Feature'].values

find_skew(df_train)

                    Feature       Skew  Absolute Skew  Skewed
0                      Year   0.005945       0.005945   False
1           Adult Mortality   1.210173       1.210173    True
2             infant deaths   9.987366       9.987366    True
3                   Alcohol   0.623417       0.623417   False
4    percentage expenditure   4.414371       4.414371    True
..                      ...        ...            ...     ...
197  Country_dummy_Viet Nam  11.975261      11.975261    True
198     Country_dummy_Yemen  12.404175      12.404175    True
199    Country_dummy_Zambia  11.586947      11.586947    True
200  Country_dummy_Zimbabwe  12.404175      12.404175    True
201        Life expectancy   -0.627243       0.627243   False

[202 rows x 4 columns]

In [7]:
df = df_train.copy()
skewed_cols = find_skew(df, show=False, col_names=True)

for col in skewed_cols:
  df[col] = np.log1p(df[col])

find_skew(df)

                    Feature       Skew  Absolute Skew  Skewed
0                      Year   0.005945       0.005945   False
1           Adult Mortality  -1.085829       1.085829    True
2             infant deaths   0.688420       0.688420    True
3                   Alcohol   0.623417       0.623417   False
4    percentage expenditure  -0.079912       0.079912   False
..                      ...        ...            ...     ...
197  Country_dummy_Viet Nam  11.968750      11.968750    True
198     Country_dummy_Yemen  12.406250      12.406250    True
199    Country_dummy_Zambia  11.593750      11.593750    True
200  Country_dummy_Zimbabwe  12.406250      12.406250    True
201        Life expectancy   -0.627243       0.627243   False

[202 rows x 4 columns]

In [8]:
del df

# Create EngineerFeatures Object

In [9]:
class EngineerFeatures():

    def __init__(self):
        pass

    def fit(self, X, y=None):
        return self

    def transform(self, X, y=None): 
        X_new = X.copy()

        # Drop uncorrelated or unimportant features
        cols_to_drop = [
            'Country', # This column has been encoded and imputation is done. It can now be dropped
            'Population' # Very weak correaltion to target variable
        ]
        
        X_new = X_new.drop(cols_to_drop, axis=1)

        # Feature transformations for numeric features
        # Note that skewed columns will have to be entered manually here 
        skewed_cols = [
            'Adult Mortality',
            'infant deaths', 
            'percentage expenditure', 
            'Hepatitis B',
            'Measles ', 
            'under-five deaths ',
            'Polio',
            'Diphtheria ', 
            ' HIV/AIDS', 
            'GDP',
            ' thinness  1-19 years', 
            ' thinness 5-9 years',
            'Income composition of resources'
        ]

        for col in skewed_cols:
            X_new[col] = np.log1p(X_new[col])

        # Feature encoding
        cols_to_encode = [
            'Status',
        ]
        
        X_new = pd.get_dummies(X_new, columns=cols_to_encode, drop_first=True)

        return X_new

    def fit_transform(self, X, y=None):
        return self.fit(X).transform(X)

In [10]:
engg = EngineerFeatures()

df_train_engineered = engg.fit_transform(df_train)
df_test_engineered = engg.transform(df_test)

In [11]:
# Note that the targeet variable is unchanged, so we can proceed with saving just the features
X_train_engineered = df_train_engineered.drop('Life expectancy ', axis=1)
X_test_engineered = df_test_engineered.drop('Life expectancy ', axis=1)

In [12]:
X_train_engineered.head()

,Year,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,under-five deaths,Polio,Total expenditure,...,Country_dummy_United States of America,Country_dummy_Uruguay,Country_dummy_Uzbekistan,Country_dummy_Vanuatu,Country_dummy_Venezuela (Bolivarian Republic of),Country_dummy_Viet Nam,Country_dummy_Yemen,Country_dummy_Zambia,Country_dummy_Zimbabwe,Status_Developing
615,2008,5.826000,2.197225,2.58,0.000000,4.304065,1.098612,2.484907,4.356709,2.90,...,0,0,0,0,0,0,0,0,0,1
2909,2012,5.857933,3.401197,2.59,5.287839,4.369448,6.799056,3.784190,2.079442,4.91,...,0,0,0,0,0,0,0,1,0,1
2812,2013,4.770685,0.693147,5.82,6.181680,4.553877,0.000000,0.693147,4.553877,8.68,...,0,1,0,0,0,0,0,0,0,1
1825,2003,3.135494,3.663562,0.20,1.332621,1.098612,9.498897,3.931826,4.343805,5.48,...,0,0,0,0,0,0,0,0,0,1
497,2014,4.189655,1.098612,8.10,4.636574,4.025352,6.037871,1.098612,4.521789,1.45,...,0,0,0,0,0,0,0,0,0,1

In [13]:
X_test_engineered.head()

,Year,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,under-five deaths,Polio,Total expenditure,...,Country_dummy_United States of America,Country_dummy_Uruguay,Country_dummy_Uzbekistan,Country_dummy_Vanuatu,Country_dummy_Venezuela (Bolivarian Republic of),Country_dummy_Viet Nam,Country_dummy_Yemen,Country_dummy_Zambia,Country_dummy_Zimbabwe,Status_Developing
1831,2013,1.945910,0.693147,8.68,7.297112,3.951244,7.875879,0.693147,4.584967,11.40,...,0,0,0,0,0,0,0,0,0,0
893,2004,5.872118,5.384495,0.86,0.919072,4.269697,4.304065,5.837730,4.007333,4.23,...,0,0,0,0,0,0,0,0,0,1
1800,2011,5.594711,1.386294,7.84,2.185628,4.418841,4.382027,1.609438,4.454347,8.78,...,0,0,0,0,0,0,0,0,0,1
56,2007,5.929589,4.477337,6.35,5.224786,4.304065,6.922644,4.934474,4.330733,3.38,...,0,0,0,0,0,0,0,0,0,1
2860,2013,5.075174,2.302585,6.71,0.000000,4.418841,0.000000,2.397895,4.418841,4.94,...,0,0,0,0,1,0,0,0,0,1

# Save Engineered Data

In [14]:
# pickle engineered train data
X_train_engineered.to_pickle('Data/X_train_engineered.pkl')

# pickle engineered test data
X_test_engineered.to_pickle('Data/X_test_engineered.pkl')